body {
    padding: 16px;
	margin: 0px;
	background: url(../img/background3.webp) no-repeat center center fixed; /* webkit only, screw firefox and internet explorer */
	background-color: #DDD;
	background-size: cover;
}

.error {
	color: red;
	font-weight: bold;	
}