{% extends 'layout.html' %}

{% block bodytitle %}À propos{% endblock %}

{% block body %}
<p>Concepteur: Stéphane Bérubé, <a href="mailto:sirber@hotmail.com">sirber@hotmail.com</a></p>
<p>Licencié à: Le Stylo Rouge</p>
<p>Construit avec:
<ul>
    <li><a href="http://www.slimframework.com/">Slim Framework</a></li>
    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="http://jquery.com/">jQuery</a></li>
    <li><a href="http://medoo.in/">medoo</a></li>
</ul>
</p>
{% endblock %}

{% block body_extra %}
{% endblock %}

{% block javascript %}
{% endblock %}

