body {
    padding: 16px;
	margin: 0px;
	background: url(img/{{background}}) no-repeat center center fixed; 
	background-color: #DDD;
	background-size: cover;
}

.error {
	color: red;
	font-weight: bold;	
}
