<!DOCTYPE html>
<html>
<head>{% include 'layout_header.html' %}</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            {% block sidebar %}{% include 'layout_sidebar.html' %}{% endblock %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <form method="post" enctype='multipart/form-data'>
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% block bodytitle %}{% endblock %}</h3>
                    </div>
                    <div class="panel-body">{% block body %}{% endblock %}</div>
                </div>
                {% block body_extra %}{% endblock %}
                {% if files_show %}{% include 'layout_files.html' %}{% endif %}
            </form>
        </div>
    </div>
</div>
<script>{% block javascripts %}{% endblock %}</script>
</body>
</html>
