<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le Stylo Rouge{% endblock %}</title>
        
        <script src="{{ base_url() }}/vendor/jquery-2.1.4.min.js"></script>
        
        <script src="{{ base_url() }}/vendor/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" />
        
        <link rel="stylesheet" href="{{ base_url() }}/css/default.css" />
        
        <script src="{{ base_url() }}/js/default.js"></script>
        
        <script>
            var base_url = "{{ base_url() }}";
			var user_id = "{{ user.id }}";
        </script>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                {% block sidebar %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<p style="overflow: hidden; text-align: center"><img src="{{ base_url() }}/img/logo_carre.png"></p>
						<p style="text-align: center">
							{{ user.fullname }}
						</p>
						
						
						<p style="text-align: center">
							<button class="btn btn-default" type="submit" id="user_profile"><span class="glyphicon glyphicon-user"></span></button>&nbsp;
							<button class="btn btn-default" type="submit" id="admin"><span class="glyphicon glyphicon-cog"></span></button>&nbsp;
							<button class="btn btn-default" type="submit" id="user_logout"><span class="glyphicon glyphicon-log-out"></span></button>
						</p>
					</div> 
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="{{ base_url() }}/task/list">Tâches</a></li>
							<li><a href="{{ base_url() }}/client/list">Clients</a></li>
						</ul>
					</div>
				</div>      
                {% endblock %}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{% block bodytitle %}{% endblock %}</h3>
					</div>
					<div class="panel-body">
						{% block body %}
						{% endblock %}
					</div>
				</div>
        </div>
	</div>
	
	{% block javascripts %}{% endblock %}
    </body>
</html>
