<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le Stylo Rouge{% endblock %}</title>
        
        <script src="{{ base_url() }}/vendor/jquery-2.1.4.min.js"></script>
        
        <script src="{{ base_url() }}/vendor/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" />
        
        <link rel="stylesheet" href="{{ base_url() }}/css/default.css" />
        
        <script src="{{ base_url() }}/js/default.js"></script>
        
        <script>
            var base_url = "{{ base_url() }}";
        </script>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="row" style="">
            <div class="col-md-2 col-sm-4" style="border-right: 1px #EEE solid;">
                {% block sidebar %}
                <p><img src="{{ base_url() }}/img/logo.png"></p>
                <p style="text-align: center">
                    {{ user.fullname }}
                </p>
                <p style="text-align: center">
                    <button class="btn btn-default" type="submit" id="user_profile"><span class="glyphicon glyphicon-user"></span></button>&nbsp;
                    <button class="btn btn-default" type="submit" id="user_profile"><span class="glyphicon glyphicon-cog"></span></button>&nbsp;
                    <button class="btn btn-default" type="submit" id="user_logout"><span class="glyphicon glyphicon-log-out"></span></button>
                </p>
                <hr>
                <button class="btn btn-primary btn-lg btn-block">Tâches</button>
                <button class="btn btn-default btn-lg btn-block">Forfaits</button>
                {% endblock %}
            </div>
            <div class="col-md-10 col-sm-8">
                {% block body %}
                {% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
