<meta charset="UTF-8" />
<title>{% block title %}{{ title }}{% endblock %}</title>

<script type="text/javascript" src="{{ base_url() }}/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/vendor/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" />

<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA//36AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREAAAAAERABERAAAAARAAAREQAAABEAABEREAAAERABEREQAAABERERERAAAAAREREREAAAAAAAAREQAAAAAAAAERAAAAABEAABEAAAABERAAEQAAAAEREAAQAAAAABEAAAAAAAAAAAAAAAAAAAAAAAAADwDwAA4AcAAMADAACAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAAwAMAAOAHAADwDwAA" rel="icon" type="image/x-icon" />

<script src="{{ base_url() }}/js/default.js"></script>

<script>
    var base_url = "{{ base_url() }}";
    var user_id = "{{ user.id }}";
</script>

<style>
    body {
        padding: 16px;
        margin: 0px;
        background: url({{ base_url() }}/img/{{background}}) no-repeat center center fixed; 
        background-color: #DDD;
        background-size: cover;
    }

    .error {
        color: red;
        font-weight: bold;	
    }
</style>

{% block stylesheets %}{% endblock %}