<div class="panel panel-default">
    <div class="panel-heading">
        <p style="overflow: hidden; text-align: center" class="hidden-xs"><img src="{{ base_url() }}/img/logo_carre.png"></p>
        <p style="overflow: hidden; text-align: center" class="visible-xs">Le Stylo Rouge</p>
        <p style="text-align: center">
            {{ user.fullname }}
        </p>        
        <p style="text-align: center">
            <button class="btn btn-default" type="submit" id="user_profile"><span class="glyphicon glyphicon-user"></span></button>&nbsp;
            <button class="btn btn-default" type="submit" id="admin"><span class="glyphicon glyphicon-cog"></span></button>&nbsp;
            <button class="btn btn-default" type="submit" id="user_logout"><span class="glyphicon glyphicon-log-out"></span></button>
        </p>
    </div> 
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{ base_url() }}/task/list">Tâches</a></li>
            <li><a href="{{ base_url() }}/user/list">Clients</a></li>
        </ul>
    </div>
</div>