{% extends 'layout.html' %}

{% block bodytitle %}Tâche #{{datas[0].id}}{% endblock %}

{% block body %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="form-group">
			<label for="name">Nom:</label>
			<input type="text" class="form-control" name="fields[name]" value="{{datas[0].name}}" />
		</div>
		<div class="form-group">
			<label for="name">Catégorie</label>
			<select class="form-control"></select>
		</div>
		<div class="form-group">
			<label for="name">Date de début:</label>
			<input type="text" class="form-control" name="fields[date_start]" value="{{datas[0].date_start}}" />
		</div>
		<div class="form-group">
			<label for="name">Date de fin:</label>
			<input type="text" class="form-control" name="fields[date_end]" value="{{datas[0].date_end}}" />
		</div>
		
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="form-group">
			<label for="name">Nunéro client:</label>
			<input type="text" class="form-control" name="fields[client_id]" value="{{datas[0].client_id}}" readonly />
		</div>
		<div class="form-group">
			<label for="name">Priorité</label>
			<select class="form-control">
				<option></option>
				<option value="1">Bas</option>
				<option value="2">Moyen</option>
				<option value="3">Haut</option>
			</select>
		</div>
		<div class="form-group">
			<label for="name">Difficulté</label>
			<select class="form-control">
				<option></option>
				<option value="1">Facile</option>
				<option value="2">Moyen</option>
				<option value="3">Difficile</option>
			</select>
		</div>
		<div class="form-group">
			<label for="name">Heures estimés:</label>
			<input type="text" class="form-control" name="fields[nb_hour_estimated]" value="{{datas[0].nb_hour_estimated}}" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<button class="btn btn-danger btn-lg" type="submit">Enregistrer</button>&nbsp;
		<a class="btn btn-warning btn-lg" href="{{ base_url() }}/task/list">Retour</a>&nbsp;
		<button class="btn btn-default btn-lg" type="button">Imprimer</button>&nbsp;
		<button class="btn btn-default btn-lg" type="button">Facture</button>&nbsp;		
	</div>
</div>
{% endblock %}

{% block body_extra %}
{# Notes #}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Notes</h3>
			</div>
			<textarea style="width: 100%" rows="12" name="fields[notes]">{{datas[0].notes}}</textarea>
		</div>            
	</div>
</div>

{# Étapes #}	
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Étapes</h3>
			</div>
			<div class="panel-body">
				todo!
			</div>
		</div>
	</div>
</div>

{# Facturation #}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Facturation</h3>
			</div>
			<div class="panel-body">
				todo!
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
