{% extends 'layout.html' %}

{% block bodytitle %}Tâches{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th style="width: 20px;"><input type="checkbox"></th>
            <th>Nom</th>
            <th style="width: 160px;">Date début</th>
            <th style="width: 160px;">Date fin</th>
            <th style="width: 160px;">Heure estimé</th>
            <th style="width: 160px;">Heure réel</th>
            <th style="width: 160px;">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for data in datas %}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>{{ data.name }}</td>
            <td>{{ data.date_start }}</td>
            <td>{{ data.date_end }}</td>
            <td>{{ data.nb_hour_estimated }}</td>
            <td>{{ data.nb_hour_real }}</td>
            <td>
                <button class="btn btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {% if not datas %}
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: center;"><h4>aucune tâche!</h4></td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% endblock %}

{% block javascript %}
{% endblock %}