{% extends 'layout.html' %}

{% block bodytitle %}Tâches{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th style="width: 20px;"><input type="checkbox" id="check_all"></th>
            <th>Nom</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Heure estimé</th>
            <th>Heure réel</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for data in datas %}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>{{ data.name }}</td>
            <td>{{ data.date_start }}</td>
            <td>{{ data.date_end }}</td>
            <td>{{ data.nb_hour_estimated }}</td>
            <td>{{ data.nb_hour_real }}</td>
            <td>
                <a href="{{ base_url() }}/task/view/{{ data.id }}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                <a href="{{ base_url() }}/task/delete/{{ data.id }}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {% if not datas %}
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: center;"><h4>aucune tâche!</h4></td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% endblock %}

{% block javascript %}
{% endblock %}