{% extends 'layout_login.html' %}

{% block javascripts %}

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-3">&nbsp;</div>
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="{{ base_url() }}/img/logo.png">
            </div>
            <div class="panel-body">
                <form action="{{ base_url() }}/user/login" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" value="" />
                    </div>
                    
                    <div class="form-group">                   
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
					
					<input type="hidden" name="csrf_name" value="{{ csrf_name }}">
					<input type="hidden" name="csrf_value" value="{{ csrf_value }}">

                    <button class="btn btn-default" type="submit">login</button>&nbsp;
                    <!--<button class="btn btn-default" type="button">register</button>-->
					
					{% if error %}
					<p class="error">{{ error }}</p>
					{% endif %}
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-3">&nbsp;</div>
  </div>
</div>

{% endblock %}