{% extends 'layout.html' %}

{% block bodytitle %}
Usagers <a href="{{ base_url() }}/user/new" class="glyphicon glyphicon-plus"></a>
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th style="width: 20px;"><input type="checkbox" id="check_all"></th>
            <th>ID</th>
            <th>Login</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for data in datas %}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>{{ data.id }}</td>
            <td><a href="{{ base_url() }}/user/view/{{ data.id }}">{{ data.username }}</a></td>
            <td>{{ data.fullname }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.admin?'yes':'no' }}</td>
            <td>{{ data.active?'yes':'no' }}</td>
            <td>
                <a href="{{ base_url() }}/user/view/{{ data.id }}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                <a href="{{ base_url() }}/user/delete/{{ data.id }}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {% if not datas %}
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: center;"><h4>aucune usagers?!</h4></td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% endblock %}

{% block javascripts %}
{% endblock %}