{% extends 'layout.html' %}

{% block javascript %}

{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-3">&nbsp;</div>
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="{{ asset('img/logo.png') }}">
            </div>
            <div class="panel-body">
                <form action="{{ path('login_check') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    
                    <div class="form-group">                   
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="_password" />
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/" />
                    #}

                    <button class="btn btn-default" type="submit">login</button>&nbsp;
                    <button class="btn btn-default" type="button">register</button>
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-3">&nbsp;</div>
  </div>
</div>
  



{% endblock %}